<h3>Your payment was declined</h3>
<p>We were unable to charge your payment method for your <%= Pay.application_name %> subscription. Please update your billing information.</p>
<p>Just go to <%= link_to "your plan", your_plan_url %> and click "manage plan" to update your billing information.</p>
<p>If you have any questions, feel free to just hit reply on this email.</p>
<p>—<%= Pay.application_name %></p>
