<h3>Your <%= Pay.application_name %> trial is ending soon</h3>

<p>Thanks for signing up to try out Brainstormer! I hope you have been enjoying your free trial.</p>

<p>Unfortunately your free trial will end in 3 days</p>

<p>I'd love to keep you as a customer, and there is still time to complete your subscription! Simply go to manage your subscription at your <%= link_to "plan page", your_plan_url %>. If you want to continue, just hit "manage" and add in your credit card details.</p>

<p>By completing your subscription to the Facilitator plan you'll continue to be able to:</p>

<li>
  <ul>Export your brainstorms as PDF or CSV</ul>
  <ul>Easily get an overview of your past and ongoing brainstorms on the <%= link_to "Your Brainstorms", your_brainstorms_url %> page.</ul>
  <ul>Use the timer to set different durations, including the "no limit" option. This option is great for hosting an asynchronous brainstorms!</ul>
</li>

<p>As a reminder, when your trial expires you will be automatically placed on the free Hobbyist plan, if you do nothing.</p>

<p>If you have any questions or feedback, just hit reply to this email, and I'll get right back to you.</p>

<p>Best regards,</p>

<p>Lone from Brainstormer</p>
