<h3>Your <%= Pay.application_name %> trial has ended</h3>
<p>This is just a friendly reminder that your <%= link_to Pay.application_name, root_url %> trial has ended.</p>

<p>You may <%= link_to "manage your subscription", your_plan_url %> via your account.</p>

<p>If you have any questions or feedback, don't hesitate to hit reply to this email, and I'll get right back to you.</p>

<p>Best regards,</p>

<p>Lone from Brainstormer</p>
