<div class="fixed bottom-16 right-0 z-50 ">
  <a target="_blank"  href="https://forms.gle/SURoxoW2nnpyoGNPA">
    <div class="bg-light-blurple hover:bg-blurple active:bg-darker-blurple active:-translate-x-20 transition ease-out duration-500 transform hover:-translate-x-20 -mr-20 hidden lg:inline-flex flex-row justify-between items-center p-3">
        <svg class="h-12 w-12 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" fill="#FFFFFF"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 12h-2v-2h2v2zm0-4h-2V6h2v4z"/></svg>
        <div class="flex flex-col text-white font-bold text-sm">
          <p>Give</p>
          <p>Feedback</p>
        </div>
    </div>
  </a>
</div>