 <div class="lg:mt-0 flex justify-between text-3xl lg:text-sm items-start mb-16 mt-16 flex-col lg:flex-row <%= request.path == "/pricing" || request.path == "/brainstorms/new" || request.path == "/brainstorms" || request.path == "/brainstorms/join-session" || request.path == "/go_to_brainstorm" ? "text-white" : "text-black" %>">
  <div class="flex flex-col lg:gap-2 gap-10">
    <p class="hover:underline"><a href="/pricing">Pricing</p></a>
    <p class="hover:underline"><a href="/about">About</p></a>
    <p class="hover:underline"><a href="https://www.blog.brainstormer.online/brainstormers-around-the-world/">Video tutorials</a></p>
    <p class="hover:underline"><a href="https://www.blog.brainstormer.online">Blog</a></p>
    <%= link_to "privacy policy", privacy_policy_path, class: "hover:underline" %>
    <div class="flex space-x-4 lg:space-x-1 items-center lg:mt-4 mt-6">
      <p>&copy; 2023, Made with</p>
      <i class="lg:text-xl text-4xl material-icons cursor-default text-reddy hover:animate-ping">favorite</i>
      <p>by <a class="hover:underline" target="_blank" href="https://twitter.com/Lonekp">Lone Kjeldgaard</a></p>
    </div>
  </div>
</div>