  <div class="text-3xl lg:text-base -mb-12 lg:-mb-2 mt-4 mr-8">
    <div class="flex flex-row space-x-12 lg:space-x-8 justify-end lg:text-black text-black">
      <a href="/about"><p class="my-shadow-sm lg:hover:bg-light-greeny lg:active:bg-light-greeny-darker <%='/' + @page === '/about'  ? 'bg-light-greeny' : 'bg-white' %> p-4 lg:py-0 lg:px-2">About</p></a>
      <a href="/contribute"><p class="my-shadow-sm lg:hover:bg-light-greeny lg:active:bg-light-greeny-darker <%='/' + @page === '/contribute'  ? 'bg-light-greeny' : 'bg-white' %> bg-white p-4 lg:py-0 lg:px-2">Contribute</p></a>
    </div>
  </div>