<% flash.each do |message_type, message| %>
  <div class="leading-none p-2 mt-1 <%= local_assigns[:phone] ? "text-3xl " : "text-sm " %>  font-bold italic text-white bg-wine">
    <span><%= message %></span>
  </div>
<% end %>