<% if @access_to_export_features  %>
<div id="emailModalContainer" onclick="this.classList.add('hidden'); this.classList.remove('flex');" class="fixed inset-0 z-50 hidden flex-row items-center justify-center" style="background-color: rgba(49, 39, 131, 0.9);">
  <div class="flex flex-col justify-between w-full mx-8 lg:mx-0 lg:w-1/3">
    <div class="bg-light-yellowy text-blurple lg:mt-12 my-shadow-lg">
      <div class="bg-dots-blurple h-10 mb-8"></div>
      <div class="flex flex-col items-center justify-around py-32 lg:py-0">
        <span class="material-icons-sharp text-11xl">mail</span>
        <p class="text-3xl lg:text-xl font-bold px-8 py-8 text-center">Your ideas will be sent to <%= current_user.email %></span></p>
      </div>
    </div>
    <div class="mt-20 lg:mt-8 w-full lg:w-auto">
     <%= form_with url: brainstorm_email_path(@brainstorm.token), method: :post, local: false do |f| %>
     <div class="my-8 flex flex-row justify-between lg:mt-8 mt-20">
      <span class="material-icons lg:p-3 p-7 lg:text-5xl text-8xl text-blurple hvr-grow active:bg-blurple-gray cursor-pointer my-shadow bg-white font-bold">chevron_left</span>
      <button type=submit class="lg:text-lg text-5xl lg:px-10 px-16 font-bold bg-blurple active:bg-blurple-darker hvr-grow cursor-pointer text-white my-shadow-lg">
        <p>SEND</p>
      </button>
      </div>
    <% end %>
    </div>
  </div>
</div>
<% end %>