<div id="emailModalContainer" class="flex flex-row" x-data="{ 'showEmailModal': false}">
  <!--Overlay-->
  <div class="flex flex-col" style="background-color: rgba(49, 39, 131, 0.9);" x-show="showEmailModal" :class="{ 'fixed inset-0 z-10 flex items-center justify-center': showEmailModal }">
    <!--Dialog-->
    <div class="w-11/12 lg:w-1/2 mx-auto" @click.away="showEmailModal= false">
      <div class="bg-white rounded shadow-lg lg:py-3 py-16 text-left px-6" x-show="showEmailModal">

        <!--Title-->
        <div class="flex justify-between">
          <div class="flex flex-col">
            <p class="py-8 text-7xl lg:text-4xl font-bold text-blurple">RECEIVE YOUR IDEAS IN YOUR INBOX</p>
            <p class="italic uppercase text-3xl lg:text-base font-bold leading-none">What is your email?</p>
          </div>
        </div>

        <!-- content -->

        <%= form_with url: brainstorm_email_path(@brainstorm.token), method: :post, local: false do |f| %>
        <div class="field my-2">
          <%= f.text_field :email_address, class:"w-full focus:outline-none border-solid border-2 border-black lg:h-12 h-32 my-shadow italic font-bold px-4 lg:text-xl text-6xl", value: current_user&.email %>
          <div id="error-field-email-address">
            <%= render "shared/validation_error" %>
          </div>
        </div>
      </div>
      <div class="lg:mt-8 mt-12 flex flex-row justify-between w-full">
        <div @click="showEmailModal = false">
          <span class="material-icons lg:p-3 p-7 lg:text-5xl text-8xl text-blurple hvr-grow active:bg-blurple-gray cursor-pointer my-shadow bg-white font-bold">chevron_left</span>
        </div>
        <button type=submit class="hvr-grow px-20 lg:px-8 my-shadow-lg text-blurple text-6xl lg:text-lg font-bold bg-light-greeny active:bg-light-greeny-darker focus:outline-none cursor-pointer">SEND</button>
        <% end %>
      </div>
    </div>

    <!--/Dialog -->
  </div>
</div>

<!-- /Overlay -->
</div>