<div class="p-12 text-4xl lg:text-base text-justify">
  <h1 class="text-7xl lg:text-5xl font-semibold leading-relaxed uppercase mb-8">Brainstorm not found 🔎</h1>
  <p>On the free plan you can only access brainstorms for 2 weeks, and it looks like that time is up!</p></br>
  <p>If you created the brainstorm from a user profile, you can gain access by <%= link_to "upgrading to a paid tier", pricing_path, class: "underline hvr-underline" %>.</p>
</div>