<div class="p-12 text-4xl lg:text-base text-justify">
  <h1 class="text-7xl lg:text-5xl font-semibold leading-relaxed uppercase mb-8">Brainstormer is open source! &#x1F389</h1>
  <p>Brainstormer is all about ideas. And I'm sure that everybody who uses Brainstormer has plenty of them.</p></br>
  <p>I want to invite everyone to join the development of this project.</p> </br>
  <p>There are two ways for that to happen:</p></br>
  <ul class="list-disc ml-10">
    <li class="mb-2">Help plan what should be developed next, and develop it!</li>
    <li class="mb-2">Get the code and start remixing it to fit your own needs. You are free to host your remixed project somewhere else as long as you also make your changes open source.</li>
  </ul></br>
  <p>You can find the source code and more about how to contribute at <a target="_blank" class="underline hover:bg-light-yellowy" href="https://github.com/LoneKP/brainstormer.online">GitHub</a> (you will need to create a GitHub account)</p></br>
  <p>If you have any questions, feel free to <a class="underline hover:bg-light-yellowy" href="mailto:brainstormer.online@gmail.com?subject=I'm interested in contributing">send me an email</a>.</p></br></br>
  <p>All the best,</p>
  <p>Lone Kjeldgaard</p>
</div>
