          <p>...Oh wait! </br> </br>It seems that you haven't actually created any brainstorms yet! </br></br>What are you waiting for? &#128640; </br></p>
          <%= link_to "Go ahead and create your first brainstorm", new_brainstorm_path, class: "underline" %>