<div class="p-12 text-4xl lg:text-base text-justify">
  <h1 class="text-7xl lg:text-5xl font-semibold leading-relaxed uppercase mb-8">Privacy Policy</h1>
  <p>Last updated Nov 6, 2021</p></br>
  <p>Let us go through which data footprint you leave by using Brainstormer, and how your data is treated and stored!</p></br>

  <h3 class="text-5xl lg:text-xl font-semibold leading-relaxed">Your data</h3>
  <p>When you use brainstormer your <strong>IP address</strong> is saved temporarily, but maximum 6 months. With your IP address you’re letting me know from where in the world you are using Brainstormer, and learning the demographics of Brainstormer’s users is the only reason I store your IP address temporarily.</p></br>
  <p>When you choose to send your ideas by email at the end of the brainstorming session, <strong>your email address</strong> is saved as a contact on the Brainstormer Google Gmail, which is used to send out those emails.</p></br>
  <p>I will not use your email for anything at all besides sending you that one email with your generated ideas.</p></br>

  <h3 class="text-5xl lg:text-xl font-semibold leading-relaxed">Your usage data</h3>
  <p>I try to understand how you use Brainstormer, by tracking which buttons you click when you use Brainstormer. I do that only to understand how useful the features I built are to you. Based on what I learn, I try to come up with improvements and new features.</p></br>

  <h3 class="text-5xl lg:text-xl font-semibold leading-relaxed">Where is your data stored?</h3>
  <p>I use Heroku to host the Brainstormer app. Heroku is, as you can read in their <a href="https://www.heroku.com/policy/security" target="_blank">security policy</a>, committed to keeping customers' data safe.</p></br>

  <p>Brainstormer uses a Postgres database to store your IP address temporarily and your usage data. This database is hosted on Amazon Web Services on a data center located in Europe.</p></br>

  <h3 class="text-5xl lg:text-xl font-semibold leading-relaxed">How to get in touch</h3>
  <p>If you have any questions, please reach out on <a href="mailto:brainstormer.online@gmail.com">brainstormer.online@gmail.com</a></p></br>
</div>


