<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>I'm Lone, the founder of Brainstormer, and I'm super excited you decided to try out Brainstormer. 😍</p>
    <p>My top priority is to make it quick and easy for busy facilitators like yourself to have seamless brainstorming sessions, so if you have any questions about how it all works, or anything else that might come up, feel free to reply directly to this email.</p>
    <p>All you need to do now, is to 
    <ul>
      <li>come up with a good problem statement</li>
      <li>invite some bright people to help you brainstorm on it!</li>
    </ul>
    <p>You can <a href="<%= new_brainstorm_url %>">start a new brainstorm here</a> to check out how it all works! 🙌</p>
    <p>Happy brainstorming!</p>
    <p>Lone from Brainstormer</p>
  </body>

  <hr>

  <footer style="font-size: 12px">
    <p>This is an occasional email to help you get the most out of Brainstormer.</p>
    <p>If you don't wish to receive this type of email, you're always welcome to <%= link_to 'unsubscribe.', @unsubscribe_url %></p>
  </footer>
  
</html>