<%= form_for(@idea, remote: true, html: { autocomplete: "off", class: "flex flex-col w-full" }) do |f| %>
<div class="p-6 lg:mr-8 mt-8 bg-post-it-yellowy my-shadow-lg">
  <h2 class="italic text-6xl lg:text-2xl font-semibold font-bold">Add thought</h2>
  <div class="field mt-8">
    <%= f.text_area :text, class:"italic font-bold w-full h-screen/5 lg:h-32 opacity-75 focus:outline-none border-dashed border-black border-2 py-2 px-4 block appearance-none leading-loose lg:leading-normal break-words md:text-5xl lg:text-xl lg:text-base" %>
  </div>
  <%= f.hidden_field :brainstorm_id, :value => @brainstorm.id %>
  <div id="error-field-idea">
    <%= render "shared/validation_error" %>
  </div>
  <p id="characterCountIdea" class="md:text-4xl lg:text-xs mt-1 mb-4 ml-auto justify-end flex"></p>
</div>
<button id="addIdeaPin" type=submit class="lg:mr-8 lg:mt-4 md:mt-8 px-8 lg:text-2xl md:text-7xl flex flex-row justify-center items-center modal-close lg:h-20 md:h-40 my-shadow-lg bg-lighter-gray focus:outline-none cursor-pointer">
  <p class="font-bold mr-2 text-white">ADD</p>
  <svg class="lg:h-6 lg:w-6 md:h-20 md:w-20" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" fill="white">
    <g>
      <rect fill="none" />
    </g>
    <g>
      <path d="M16,9V4l1,0c0.55,0,1-0.45,1-1v0c0-0.55-0.45-1-1-1H7C6.45,2,6,2.45,6,3v0 c0,0.55,0.45,1,1,1l1,0v5c0,1.66-1.34,3-3,3h0v2h5.97v7l1,1l1-1v-7H19v-2h0C17.34,12,16,10.66,16,9z" fill-rule="evenodd" />
    </g>
  </svg>
</button>

<% end %>