<div id="modalContainer" class="flex flex-row hidden" x-data="{ 'showModal': false}">
  <!--Overlay-->
  <div class="flex flex-col" style="background-color: rgba(49, 39, 131, 0.9);" x-show="showModal" :class="{ 'absolute inset-0 z-10 flex items-center justify-center': showModal }">
    <!--Dialog-->
    <div class="bg-white w-11/12 lg:w-1/2 mx-auto shadow-lg lg:py-3 py-8 text-left px-6" x-show="showModal">

      <!--Title-->
      <div class="flex justify-between">
        <div class="flex flex-col">
          <p class="pb-8 text-4xl font-bold text-blurple">LET US KNOW WHO YOU ARE</p>
          <p class="italic text-2xl font-bold leading-none">What is your name?</p>
        </div>
      </div>

      <!-- content -->
      <%= form_for :brainstorm, url: set_user_name_brainstorm_path(@brainstorm.token), remote: true do |f| %>
      <div class="field my-2">
        <%= text_field_tag "set_user_name[user_name]", @current_user_name, class:"w-full focus:outline-none border-solid border-2 border-black h-12 italic font-bold px-4"%>
      </div>
      <%= hidden_field_tag "set_user_name[session_id]", @session_id %>
    </div>
    <div class="mt-8 flex flex-row justify-end w-11/12 lg:w-1/2">
      <button type=submit class="hvr-grow py-4 px-8 my-shadow-lg text-blurple text-lg font-bold bg-light-greeny cursor-pointer" @click="showModal = false">SET NAME!</button>
      <% end %>
    </div>

    <!--/Dialog -->
  </div>
</div>

<!-- /Overlay -->
</div>