<div id="modalContainer" class="flex flex-row hidden" x-data="{ 'showModal': false}">
  <!--Overlay-->
  <div class="flex flex-col" style="background-color: rgba(49, 39, 131, 0.9);" x-show="showModal" :class="{ 'absolute inset-0 z-10 flex items-center justify-center': showModal }">
    <!--Dialog-->
    <div class="bg-white w-11/12 lg:w-1/2 mx-auto shadow-lg lg:pt-3 lg:pb-8 pt-28 pb-16 text-left px-6" x-show="showModal">

      <!--Title-->
      <div class="flex justify-between">
        <div class="flex flex-col">
          <p class="lg:pb-8 pb-20 lg:text-4xl text-7xl font-bold text-blurple">LET US KNOW WHO YOU ARE</p>
          <p class="italic lg:text-base text-3xl font-bold leading-none uppercase lg:mb-1">What is your name?</p>
        </div>
      </div>

      <!-- content -->
      <%= form_for :brainstorm, url: set_user_name_brainstorm_path(@brainstorm.token), remote: true do |f| %>
      <div class="field text-5xl lg:text-xl">
        <%= text_field_tag "set_user_name[user_name]", @current_user_name, class:"w-full focus:outline-none border-solid border-2 border-black lg:h-12 h-32 italic font-bold px-4 my-shadow text-black"%>
      </div>
      <%= hidden_field_tag "set_user_name[session_id]", @session_id %>
    </div>
    <div class="lg:mt-8 mt-12 flex flex-row justify-end w-11/12 lg:w-1/2 outline-none">
      <button type=submit class="hvr-grow py-4 px-8 my-shadow-lg text-blurple lg:text-xl text-6xl font-bold bg-light-greeny cursor-pointer outline-none w-full lg:w-auto active:bg-light-greeny-darker focus:outline-none" @click="showModal = false">SET NAME!</button>
      <% end %>
    </div>

    <!--/Dialog -->
  </div>
</div>

<!-- /Overlay -->
</div>