<%= link_to change_state_brainstorm_path(new_state: "setup"), remote: true, method: :post do %> 
  <button>Setup</button> 
<% end %>
<%= link_to change_state_brainstorm_path(new_state: "ideation"), remote: true, method: :post do %> 
  <button>Ideation</button>  
<% end %>
<%= link_to change_state_brainstorm_path(new_state: "vote"), remote: true, method: :post do %> 
  <button>Vote</button> 
<% end %>
<%= link_to change_state_brainstorm_path(new_state: "voting_done"), remote: true, method: :post do %> 
  <button>Voting done</button> 
<% end %>

  
  
   
 