
  <%= form_with url: brainstorm_path(@brainstorm.token), local: true, method: :patch, class: "flex flex-row items-end text-7xl lg:text-5xl uppercase break-words", id: "edit_problem_form", data: { "turbo": true }  do |f| %>
    <div class="lg:w-3/4 w-full flex">
    <%= f.text_area :problem, :value => @brainstorm.problem, class: "break-words leading-tight my-shadow-lg border-4 border-blurple border-solid text-7xl lg:text-5xl uppercase text-black font-bold w-full", autocomplete: "off", rows: number_of_lines(@brainstorm.problem) %>
    </div>
    <%= button_tag type: 'submit', method: :patch, class: "focus:outline-none" do %>
      <div class="my-shadow-lg border-solid border-greeny border-4 lg:h-14 h-26 ml-4">
        <div class="flex justify-center items-center bg-greeny lg:h-12 lg:w-12 h-24 w-24 text-white border-solid border-white border-2">
          <span class="material-icons font-bold text-7xl lg:text-3xl">done</span>
        </div>
      </div>
    <% end %>
  <% end %>
