<nav class="bg-gray-300">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <%= link_to root_path do %>
      <div class="flex-shrink-0">
        <h3 class="text-white text-lg ">Easy Brainstormer</h3>
      </div>
      <% end %>
      <div>
        <div class="flex items-center">
          <%= link_to 'FINISH', root_path, class: "ml-8 text-white" %>
          <%= link_to 'SHARE LINK', root_path, class: "ml-8 text-white" %>
          <div id="name-list" class="flex ml-7"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>