<div class="flex items-end mx-16 pt-16 mb-16 justify-between">
  <div class="flex flex-row">
    <div class="italic bg-black w-20 h-20 text-white text-5xl flex font-bold items-center justify-center">
      <span>B</span>
    </div>
    <div onclick="copyToken(getToken())" onmouseout="tokenOutFunc()" class="tooltip cursor-pointer font-semibold bg-greeny text-white text-3xl lg:text-2xl items-center flex px-4 py-1 self-end ml-4">
      <span class="tooltiptext" id="tooltipToken">Copy to clipboard</span>
      <span>#<%=@brainstorm.token%></span>
    </div>
  </div>
  <div id="name-list-container" class="flex flex-col">
    <div id="name-list" class="my-shadow items-center flex bg-white"></div>
  </div>
</div>