<%= turbo_frame_tag "filtered-content" do %>
  <div class="grid grid-cols-3 grid-flow-row gap-4 my-16">
    <% brainstorms.each do |brainstorm| %>
      <div class="bg-reddy text-white my-shadow hvr-grow <%= request.path === "/" ? "hover:bg-white hover:text-reddy" : "" %> ">
        <%= link_to brainstorm_show_path(brainstorm.token) do %>
          <div class="h-64 gap-2 w-full p-4">
            <div class="h-full flex flex-row px-4">
              <p class="font-semibold items-center justify-center flex w-full"><%= brainstorm.problem %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>