
<div class="flex-col flex w-full md:p-4 lg:p-0 lg:w-4/6 mx-auto lg:max-w-screen-lg items-center">
  <div class="w-full lg:w-3/4">
    <div class="self-start">
      <p class="bg-blurple w-auto inline-block py-2 pl-4 pr-8 text-white text-4xl lg:text-xl mb-2 my-shadow-lg">Today's ideation:</p>
    </div>
  </div>
  <div class="w-full lg:w-3/4 bg-blurple my-shadow-lg">
    <h1 class="problem p-3 text-8xl lg:text-5xl text-white font-bold uppercase  leading-tight break-words"><%=@brainstorm.problem %></h1>
  </div>
  <div class="flex flex-col bg-light-yellowy justify-between w-full lg:w-3/4 mt-12 my-shadow-lg">
    <div class="bg-dots-bigger h-10"></div>
    <p class="text-blurple text-6xl lg:text-4xl italic font-medium px-20 py-12 text-center">Waiting for <span class="font-bold"><%= @brainstorm.facilitated_by.name %></span> to start the brainstorm</p>
  </div>
  <div class="bg-blurple w-full lg:w-3/4 mt-16">
    <p class="text-white text-5xl lg:text-3xl italic font-semibold w-full pb-16 pt-16 lg:pb-64 text-center">A few simple steps for this brainstorm</p>
  </div>


  <div class="mt-8 flex-col items-center w-full lg:flex-row flex lg:-mt-48 mb-16 lg:justify-between">
    <div class="md:h-96 2xl:h-auto flex flex-col w-full lg:w-2/7 text-center border-white border-r-solid border-r-4 border-b-solid border-b-4 border-l-solid border-l-4 my-shadow-lg mb-4">
      <div class="bg-white">
        <p class="text-blurple text-5xl lg:text-2xl italic font-semibold py-4">STEP #1</p>
      </div>
      <div class="bg-blurple h-full">
        <div class="flex flex-row justify-center align-center py-8">
          <svg class="h-28 w-28" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="100px" viewBox="0 0 100 100" version="1.1">
            <title>74346756-5229-4EEB-8002-124D515E6612</title>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Work---Not-started-(participant)" transform="translate(-351.000000, -898.000000)">
                <g id="timer-24px" transform="translate(351.000000, 898.000000)">
                  <polygon id="Path" points="0 0 100 0 100 100 0 100" />
                  <path d="M62.8888889,4 L37.7777778,4 L37.7777778,12.3174603 L62.8888889,12.3174603 L62.8888889,4 Z M46.1481481,58.0634921 L54.5185185,58.0634921 L54.5185185,33.1111111 L46.1481481,33.1111111 L46.1481481,58.0634921 Z M79.7551852,30.5742857 L85.6981481,24.6688889 C83.8985185,22.5479365 81.9314815,20.551746 79.797037,18.8050794 L73.8540741,24.7104762 C67.367037,19.5536508 59.2059259,16.4761905 50.3333333,16.4761905 C29.532963,16.4761905 12.6666667,33.235873 12.6666667,53.9047619 C12.6666667,74.5736508 29.4911111,91.3333333 50.3333333,91.3333333 C71.1755556,91.3333333 88,74.5736508 88,53.9047619 C88,45.088254 84.902963,36.9787302 79.7551852,30.5742857 Z M50.3333333,83.015873 C34.1366667,83.015873 21.037037,69.9990476 21.037037,53.9047619 C21.037037,37.8104762 34.1366667,24.7936508 50.3333333,24.7936508 C66.53,24.7936508 79.6296296,37.8104762 79.6296296,53.9047619 C79.6296296,69.9990476 66.53,83.015873 50.3333333,83.015873 Z" id="Shape" fill="#FFFFFF" fill-rule="nonzero" />
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div>
          <p class="font-semibold text-white text-4xl lg:text-lg pb-4 px-4">Come up with as many ideas as you can</p>
        </div>
      </div>
    </div>

    <div class="md:h-96 2xl:h-auto flex flex-col w-full lg:w-2/7 text-center border-white border-r-solid border-r-4 border-b-solid border-b-4 border-l-solid border-l-4 my-shadow-lg mb-4">
      <div class="bg-white">
        <p class="text-blurple text-5xl lg:text-2xl italic font-semibold py-4">STEP #2</p>
      </div>
      <div class="bg-blurple h-full">
        <div class="flex flex-row justify-center align-center py-8">
          <svg class="h-28 w-28" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="100px" viewBox="0 0 100 100" version="1.1">
            <title>D1C36AB0-10BB-463A-AA19-F69FECACB559</title>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Work---Not-started-(participant)" transform="translate(-671.000000, -898.000000)">
                <g id="star-24px" transform="translate(671.000000, 898.000000)">
                  <polygon id="Path" points="0 0 100 0 100 100 0 100" />
                  <polygon id="Path" points="0 0 100 0 100 100 0 100" />
                  <polygon id="Path" fill="#FFFFFF" fill-rule="nonzero" points="50.3333333 71.7589474 76.0833333 87.3333333 69.25 57.98 92 38.2301754 62.0416667 35.6831579 50.3333333 8 38.625 35.6831579 8.66666667 38.2301754 31.4166667 57.98 24.5833333 87.3333333" />
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div>
          <p class="font-semibold text-white text-4xl lg:text-lg pb-4 px-4">Vote for your favorite ones</p>
        </div>
      </div>

    </div>



    <div class="md:h-96 2xl:h-auto flex flex-col w-full lg:w-2/7 text-center border-white border-r-solid border-r-4 border-b-solid border-b-4 border-l-solid border-l-4 my-shadow-lg mb-4">
      <div class="bg-white">
        <p class="text-blurple text-5xl lg:text-2xl italic font-semibold py-4">STEP #3</p>
      </div>
      <div class="bg-blurple h-full">
        <div class="flex flex-row justify-center align-center py-8">
          <svg class="h-28 w-28" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100px" height="100px" viewBox="0 0 100 100" version="1.1">
            <title>3F69CA6D-4E90-4003-AD70-5BBB02472DA2</title>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Work---Not-started-(participant)" transform="translate(-991.000000, -898.000000)">
                <g id="multiple_stop-24px" transform="translate(991.000000, 898.000000)">
                  <rect id="Rectangle" x="0" y="0" width="100" height="100" />
                  <path d="M70.8333333,16.6666667 L87.5,33.3333333 L70.8333333,50 L70.8333333,37.5 L54.1666667,37.5 L54.1666667,29.1666667 L70.8333333,29.1666667 L70.8333333,16.6666667 Z M29.1666667,70.8333333 L45.8333333,70.8333333 L45.8333333,62.5 L29.1666667,62.5 L29.1666667,50 L12.5,66.6666667 L29.1666667,83.3333333 L29.1666667,70.8333333 Z M79.1666667,62.5 L70.8333333,62.5 L70.8333333,70.8333333 L79.1666667,70.8333333 L79.1666667,62.5 Z M62.5,62.5 L54.1666667,62.5 L54.1666667,70.8333333 L62.5,70.8333333 L62.5,62.5 Z M45.8333333,29.1666667 L37.5,29.1666667 L37.5,37.5 L45.8333333,37.5 L45.8333333,29.1666667 Z M29.1666667,29.1666667 L20.8333333,29.1666667 L20.8333333,37.5 L29.1666667,37.5 L29.1666667,29.1666667 Z" id="Shape" fill="#FFFFFF" fill-rule="nonzero" />
                </g>
              </g>
            </g>
          </svg>
        </div>
        <div>
          <p class="font-semibold text-white text-4xl lg:text-lg pb-4 px-4">Review & decide on the next steps</p>
        </div>
      </div>
    </div>
  </div>
</div>
