<div class="flex-col flex w-full lg:w-3/5 mx-auto">
  <div>
    <h1 class="p-3 text-6xl lg:text-5xl text-white font-bold uppercase bg-blurple leading-tight lg:w-3/4 my-shadow-lg break-words"><%=@brainstorm.problem %></h1>
  </div>
  <div class="bg-white mt-8 my-shadow-lg flex flex-col p-8">
    <p class="italic text-blurple text-2xl font-semibold">What to do now?</p>
    <div class="flex flex-row justify-between px-12 mt-8">
      <div class="">
        <div class="h-28 w-28 bg-blurple flex justify-center items-center">
          <svg class="h-16 w-16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" version="1.1">
            <title>DD1585E9-7086-4558-8838-49E4B06D290D</title>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Work---Not-started-(Facilitator)" transform="translate(-405.000000, -494.000000)">
                <g id="Group-9" transform="translate(387.000000, 476.000000)">
                  <g id="headset_mic-24px" transform="translate(18.000000, 18.000000)">
                    <polygon id="Path" opacity="0.1" points="0 0 64 0 64 64 0 64" />
                    <path d="M32,2.66666667 C18.7466667,2.66666667 8,13.4133333 8,26.6666667 L8,45.3333333 C8,49.76 11.5733333,53.3333333 16,53.3333333 L24,53.3333333 L24,32 L13.3333333,32 L13.3333333,26.6666667 C13.3333333,16.3466667 21.68,8 32,8 C42.32,8 50.6666667,16.3466667 50.6666667,26.6666667 L50.6666667,32 L40,32 L40,53.3333333 L50.6666667,53.3333333 L50.6666667,56 L32,56 L32,61.3333333 L48,61.3333333 C52.4266667,61.3333333 56,57.76 56,53.3333333 L56,26.6666667 C56,13.4133333 45.2533333,2.66666667 32,2.66666667 Z" id="Path" fill="#FFFFFF" fill-rule="nonzero" />
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <p class="text-blurple italic text-xl font-semibold mt-4 text-center">Call up</p>
        <p class="text-blurple italic text-xl font-semibold text-center">everyone</p>
      </div>
      <div class="">
        <div class="h-28 w-28 bg-blurple flex justify-center items-center">
          <svg class="h-16 w-16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" version="1.1">
            <title>E72A79E2-B1C5-42FB-B270-73758F1A9EEC</title>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Work---Not-started-(Facilitator)" transform="translate(-688.000000, -494.000000)">
                <g id="Group-10" transform="translate(670.000000, 476.000000)">
                  <g id="share-24px" transform="translate(18.000000, 18.000000)">
                    <polygon id="Path" points="0 0 64 0 64 64 0 64" />
                    <path d="M48,42.88 C45.9733333,42.88 44.16,43.68 42.7733333,44.9333333 L23.76,33.8666667 C23.8933333,33.2533333 24,32.64 24,32 C24,31.36 23.8933333,30.7466667 23.76,30.1333333 L42.56,19.1733333 C44,20.5066667 45.8933333,21.3333333 48,21.3333333 C52.4266667,21.3333333 56,17.76 56,13.3333333 C56,8.90666667 52.4266667,5.33333333 48,5.33333333 C43.5733333,5.33333333 40,8.90666667 40,13.3333333 C40,13.9733333 40.1066667,14.5866667 40.24,15.2 L21.44,26.16 C20,24.8266667 18.1066667,24 16,24 C11.5733333,24 8,27.5733333 8,32 C8,36.4266667 11.5733333,40 16,40 C18.1066667,40 20,39.1733333 21.44,37.84 L40.4266667,48.9333333 C40.2933333,49.4933333 40.2133333,50.08 40.2133333,50.6666667 C40.2133333,54.96 43.7066667,58.4533333 48,58.4533333 C52.2933333,58.4533333 55.7866667,54.96 55.7866667,50.6666667 C55.7866667,46.3733333 52.2933333,42.88 48,42.88 Z" id="Path" fill="#FFFFFF" fill-rule="nonzero" />
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <p class="text-blurple italic text-xl font-semibold mt-4 text-center">Share</p>
        <p class="text-blurple italic text-xl font-semibold text-center">brainstorm</p>
      </div>
      <div class="">
        <div class="h-28 w-28 bg-blurple flex justify-center items-center">
          <svg class="h-16 w-16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 64 64" version="1.1">
            <title>19D8AA2F-3FC6-4BB1-9EB0-9F1F96D33015</title>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Work---Not-started-(Facilitator)" transform="translate(-972.000000, -494.000000)">
                <g id="chat_bubble-24px" transform="translate(972.000000, 494.000000)">
                  <polygon id="Path" points="0 0 64 0 64 64 0 64" />
                  <path d="M53.3333333,5.33333333 L10.6666667,5.33333333 C7.73333333,5.33333333 5.33333333,7.73333333 5.33333333,10.6666667 L5.33333333,58.6666667 L16,48 L53.3333333,48 C56.2666667,48 58.6666667,45.6 58.6666667,42.6666667 L58.6666667,10.6666667 C58.6666667,7.73333333 56.2666667,5.33333333 53.3333333,5.33333333 Z" id="Path" fill="#FFFFFF" fill-rule="nonzero" />
                </g>
              </g>
            </g>
          </svg>
        </div>
        <p class="text-blurple italic text-xl font-semibold mt-4 text-center">Introduce</p>
        <p class="text-blurple italic text-xl font-semibold text-center">exercise</p>
      </div>
    </div>
  </div>

  <div class="flex flex-row mt-8 w-full ">
    <div class="bg-white py-4 px-8 my-shadow-lg w-full mr-2">
      <div class="tooltip w-full">
        <div onclick="copyAction(getURL())" onmouseout="outFunc()" class="bg-blurple tooltip cursor-pointer w-full">
          <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
          <p class=" text-white uppercase text-xl font-medium py-2 text-center">Share brain link</p>
        </div>
      </div>
    </div>
    <div class="bg-white py-4 px-8 my-shadow-lg w-full ml-2">
      <div class="bg-greeny">
        <%= link_to start_brainstorm_brainstorm_path(@brainstorm.token), remote: true, method: :post do %>
        <p class="text-white uppercase text-xl font-medium py-2 text-center">Start Brainstorm </p>
        <% end %>
      </div>
    </div>
  </div>

</div>
</div>