
<div class="flex-col flex w-full md:p-4 lg:p-0 lg:w-4/6 mx-auto lg:max-w-screen-lg items-center">
  <div class="w-full lg:w-3/4">
    <div class="self-start">
      <p class="bg-blurple w-auto inline-block py-2 pl-4 pr-8 text-white text-4xl lg:text-xl mb-2 my-shadow-lg">Today's ideation:</p>
    </div>
  </div>
  <div class="w-full lg:w-3/4 bg-blurple my-shadow-lg">
    <h1 class="problem p-3 text-8xl lg:text-5xl text-white font-bold uppercase  leading-tight break-words w-full"><%=@brainstorm.problem %></h1>
  </div>
  <div class="flex flex-col bg-light-yellowy justify-between w-full lg:w-3/4 mt-12 my-shadow-lg">
    <div class="bg-dots-bigger h-10"></div>
    <p class="text-blurple text-6xl lg:text-4xl italic font-medium px-20 py-12 text-center">Waiting for <span class="font-bold"><%= @brainstorm.facilitated_by.name %></span> to start the brainstorm</p>
  </div>
  <div class="bg-blurple w-full lg:w-3/4 mt-16">
    <p class="text-white text-5xl lg:text-3xl italic font-semibold w-full pb-16 pt-16 lg:pb-64 text-center">A few simple steps for this brainstorm</p>
  </div>

  <div class="mt-8 flex-col items-center w-full lg:flex-row flex lg:-mt-48 mb-16 lg:justify-between">
    <div class="md:h-96 2xl:h-auto flex flex-col w-full lg:w-2/7 text-center border-white border-r-solid border-r-4 border-b-solid border-b-4 border-l-solid border-l-4 my-shadow-lg mb-4">
      <div class="bg-white">
        <p class="text-blurple text-5xl lg:text-2xl italic font-semibold py-4">STEP #1</p>
      </div>
      <div class="bg-blurple h-full">
        <div class="flex flex-row justify-center align-center py-8">
        <span class="material-icons-outlined text-9xl text-white">timer</span>
        </div>
        <div>
          <p class="font-semibold text-white text-4xl lg:text-lg pb-4 px-4">Come up with as many ideas as you can</p>
        </div>
      </div>
    </div>

    <div class="md:h-96 2xl:h-auto flex flex-col w-full lg:w-2/7 text-center border-white border-r-solid border-r-4 border-b-solid border-b-4 border-l-solid border-l-4 my-shadow-lg mb-4">
      <div class="bg-white">
        <p class="text-blurple text-5xl lg:text-2xl italic font-semibold py-4">STEP #2</p>
      </div>
      <div class="bg-blurple h-full">
        <div class="flex flex-row justify-center align-center py-8">
        <span class="material-icons-outlined text-9xl text-white">star</span>
        </div>
        <div>
          <p class="font-semibold text-white text-4xl lg:text-lg pb-4 px-4">Vote for your favorite ones</p>
        </div>
      </div>
    </div>

    <div class="md:h-96 2xl:h-auto flex flex-col w-full lg:w-2/7 text-center border-white border-r-solid border-r-4 border-b-solid border-b-4 border-l-solid border-l-4 my-shadow-lg mb-4">
      <div class="bg-white">
        <p class="text-blurple text-5xl lg:text-2xl italic font-semibold py-4">STEP #3</p>
      </div>
      <div class="bg-blurple h-full">
        <div class="flex flex-row justify-center align-center py-8">
          <span class="material-icons-outlined text-9xl text-white">multiple_stop</span>
        </div>
        <div>
          <p class="font-semibold text-white text-4xl lg:text-lg pb-4 px-4">Review & decide on the next steps</p>
        </div>
      </div>
    </div>
  </div>
</div>
