<div class="w-full lg:w-full leading-none p-2 text-3xl lg:text-sm font-bold italic text-black bg-yellowy text-center gap-2 flex flex-col">
<p class="lg:text-2xl text-3xl font-bold">You invited too many participants!</p>
<p class="lg:text-xl text-3xl font-bold">You need to <%= link_to "upgrade your plan", pricing_path, class: "underline" %> to brainstorm with everyone!</p>
</div>