
<% brainstorms_with_category.each do |brainstorm| %>
  <div class="flex flex-row border-b border-blurple justify-between">

  <div class="py-2 px-4">
    <p><span class="font-bold"><%= brainstorm.problem %></span></p>
  </div>

    <div class="flex flex-row">

      <div class="py-2 px-4">

        <%= link_to "Remove #{@category.name}", toggle_category_on_brainstorm_path(@category, brainstorm), method: :post, class: "btn btn--light", data: { turbo: true } %>

      </div>
    </div>
  </div>
<% end %>

<% brainstorms_without_category.each do |brainstorm| %>
  <div class="flex flex-row border-b border-blurple justify-between">

  <div class="py-2 px-4">
    <p><span class="font-bold"><%= brainstorm.problem %></span></p>
  </div>

    <div class="flex flex-row">
      <div class="py-2 px-4">

        <%= button_to "Add #{@category.name}", toggle_category_on_brainstorm_path(@category, brainstorm), method: :post, class: "btn btn--light", data: { turbo: true } %>

      </div>
    </div>
  </div>
<% end %>
