<%= form_for category, data: { turbo: true } do |f| %>
<div class="flex flex-col">
  <div class="flex flex-row justify-between gap-4">
    <%= f.text_field :name, class: "w-full" %>
    <%= f.submit class: "bg-light-greeny px-2 cursor-pointer font-semibold hvr-grow my-shadow" %>
  </div>
  <div>
    <% if category.errors.any? %>
      <div class="error-message where">
        <%= category.errors.full_messages.to_sentence.capitalize %>
      </div>
    <% end %>
  </div>
</div>
<% end %>