<!DOCTYPE html>
<html>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <head>
    <title>PDF - Brainstormer.online</title>
      <%= csrf_meta_tags %>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body style="font-family: Noto, Helvetica, sans-serif;">
    <%= yield %>
  </body>
</html>