<!DOCTYPE html>
<html>
<head>
<title>PDF - Brainstormer.online</title>
  <%= csrf_meta_tags %>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
  <body>
    <%= yield %>
  </body>
</html>