<button onclick="toggleGoogle()" class="w-full justify-center uppercase hvr-grow my-shadow py-2 px-4 lg:py-3 bg-blurple text-white font-bold border-solid border-2 border-blurple focus:outline-none">Sign up with google</button>
  <div class="flex flex-row items-center">
    <div class="border-dotted border-t-2 w-full border-blurple my-12"></div>
    <p class="px-4 font-bold text-blurple">OR</p>
    <div class="border-dotted border-t-2 w-full border-blurple my-12"></div>
  </div>
<button onclick="toggleCredentials()" class="w-full justify-center uppercase hvr-grow my-shadow py-2 px-4 lg:py-3 bg-white text-blurple font-bold border-solid border-2 border-blurple focus:outline-none">Sign up with email and password</button>